In [37]:
import pandas as pd
import numpy as np
#load feature_data
df = pd.read_csv("feature_data.csv")
#load_label_data
df1 = pd.read_csv("label_data.csv")
#change_column_names
df = df.rename(columns = {'Unnamed: 0':'id'})
df1 = df1.rename(columns = {'Unnamed: 0':'id'})
#merge_data
new_df=pd.merge(df,df1,on=['id'])
new_df

,id,time_until_order,order_year,order_month,order_week,order_day_of_month,adults,children,babies,country,...,anon_feat_5,anon_feat_6,anon_feat_7,anon_feat_8,anon_feat_9,anon_feat_10,anon_feat_11,anon_feat_12,anon_feat_13,cancelation
0,51014,309.0,2016,May,week_20,13,2,0.0,0,PRT,...,0.0,215.0,0.0,0,0.0,0.250606,17.588299,True,1.0,True
1,28536,3.0,2016,October,week_41,2,2,0.0,0,ESP,...,3.0,0.0,1.0,1,1.0,0.444719,2.343371,True,NaN,False
2,21745,NaN,2017,March,week_12,19,1,0.0,0,DEU,...,4.0,0.0,0.0,0,1.0,0.598733,2.498820,True,NaN,False
3,17502,153.0,2015,September,week_40,29,2,0.0,0,GBR,...,3.0,0.0,0.0,0,1.0,0.335675,12.411559,True,NaN,False
4,83295,33.0,2016,January,week_5,25,2,0.0,0,BRA,...,0.0,15.0,0.0,0,0.0,0.492874,5.743378,True,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89537,112553,21.0,2017,May,week_21,21,2,0.0,0,CHE,...,0.0,0.0,0.0,1,0.0,0.321296,4.663834,True,NaN,False
89538,87372,90.0,2016,April,week_16,14,2,0.0,0,DEU,...,0.0,0.0,0.0,1,0.0,0.398224,9.486275,False,NaN,False
89539,16490,39.0,2015,August,week_35,23,1,0.0,0,PRT,...,0.0,0.0,0.0,1,1.0,0.387626,6.245419,False,NaN,False
89540,1185,110.0,2015,NaN,week_34,17,2,0.0,0,PRT,...,0.0,0.0,0.0,1,1.0,0.323147,10.411280,True,NaN,True
89541,112878,183.0,2017,May,week_22,28,2,0.0,0,NaN,...,3.0,0.0,0.0,1,0.0,0.286674,13.530889,False,NaN,False

In [ ]:
#empty_val_stats - 
new_df.isnull().sum()
total = new_df.isnull().sum()
percent_missing = new_df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'total': total,
                                 'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True, ascending=False)
positive_percentage = new_df.
missing_value_df